.card {
    position: relative;

}

.card__content {
    width: 281px;
    height: 361px;
    background-color: #fff;
    border-radius: 6px;
    box-sizing: border-box;

}

.card__image {
    margin: 0;
    width: 282px;
    height: 282px;
    border-radius: 6px;
    box-sizing: border-box;


}

.card__footer {
    margin: 0;
    font-size: 24px;
    padding-top: 25px;
    padding-left: 21px;
}

.card__like {
    border: none;
    background: url(../images/like.svg) center no-repeat;
    height: 19px;
    width: 21px;
    position: absolute;
    bottom: 30px;
    right: 18px;
    cursor: pointer;
}

.card__like_active {
    background: url(../images/likeblack.png) center no-repeat;
    background-size: cover;
}

.card__like:hover {

    opacity: 0.7;
}

.card__delet {
    border: none;
    background: url(../images/delet.png) center no-repeat;
    height: 19px;
    width: 21px;
    position: absolute;
    top: 30px;
    right: 18px;
    cursor: pointer;
}

.card__delet:hover {

    opacity: 0.7;
}